@page "/Products"
@using ShopOnline.Models.Dtos
@inherits ProductsBase

@if (Products == null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    @if (productCount > 0)
    {
        var groupedProductsByCategory = Products.GroupBy(x => x.CategoryId)
            .OrderBy(x => x.Key);

        var productCategoryList = new List<ProductWithCategoryDto>();
        foreach (var group in groupedProductsByCategory)
        {
            var categoryName = Products.FirstOrDefault(x => x.CategoryId == group.Key).CategoryName;

            productCategoryList = Products.Where(x => x.CategoryId == group.Key).ToList();

            <div class="row productCategory" id="ProductCategory(@categoryName)">
                <div class="col-12 categoryHeader">
                    <h4>@categoryName</h4>
                </div>
                <ProductCard ProductsWithCategory="productCategoryList"></ProductCard>
            </div>
        }
    }
    else
    {
        <h3>No products found</h3>
    }
}