@page "/Products"
@inherits ProductsBase

@if (Products == null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    @if (productCount > 0)
    {
        foreach (var group in GetGroupedProductsByCategory())
        {
            var categoryName = GetCategoryName(group);

            <div class="row productCategory" id="ProductCategory(@categoryName)">
                <div class="categoryHeader">
                    <h4>@categoryName</h4>
                </div>
                <ProductCard ProductsWithCategory="GetProductsByCategory(group.Key)"></ProductCard>
            </div>
        }
    }
    else
    {
        <h3>No products found</h3>
    }
}